RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

# Disable directory listing
Options -Indexes

# Hide the contents of directories
IndexIgnore *

# Hide files of type .php
IndexIgnore *.php

# Deny access to files with extensions .ini, .psd, .log, .sh, .php
<FilesMatch "\.(ini|psd|log|sh|php)$">
Order allow,deny
Deny from all
</FilesMatch>