<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Cardate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if usuario %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ usuario.nombre }} {{ usuario.apellidos }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/accounts/logout">Cerrar sesion</a>
          <a class="dropdown-item" href="/citas">Ver citas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/accounts/register">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login">Iniciar sesion</a>
      </li>
      {% endif %}

      {% if usuario.es_admin %}
      <li class="nav-item">
        <a class="nav-link" href="/admin">Administracion</a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a href="/cargar" class="nav-link">Cargar modelos</a>
      </li>
    </ul>
  </div>
</nav>