body {
    background-color: #f5f5f5;
}

.tabla-horarios {
    background: red;
    text-align: center;
}

.tabla-horarios td {
    background-color: #18ce83;
    font-weight: 500;
}

.table-bordered td {
    border: 1px solid #18ae70 !important;
}

.tabla-horarios td:hover {
    background-color: #18ae70;
    cursor: pointer;
}

.table-horarios td .selected {
    background-color: #18ae70 !important; 
}

td.reservado {
    background-color: red !important;
    color: #fff;
}

td.reservado:hover {
    background-color: #df0000 !important;
    cursor: pointer;
}

td.selected {
    background-color: #18ae70 !important;
    color: #fff;
}