{% extends 'base/base.html' %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center" style="
  /* fallback */
  /* W3C */
 background: linear-gradient(to right, rgba(255, 255, 255, 0.52) 20%,                rgb(125, 189, 183)), url(http://1.bp.blogspot.com/-BiPnMV3jF2o/UE9F70zYjbI/AAAAAAAABb4/XDx-pcoFd9s/s1600/seatarosa.jpg);
 background-size: cover;
 background-position: 50% 50%;
">
    <div class="container">
      <h1 class="jumbotron-heading text-light"><u>Contacto con taller</u></h1>   
  <section class="jumbotron text-center">
    <div class="container">
      <p class="lead">Nuestro taller se encuentra en la localidad de Écija.<br>
    Se encarga de la chapa y pintura de los automóviles y camiones.</p>
        <p class="lead">Teléfono de contacto: 955900358</p>
        <p class="lead">Web de la empresa: <A HREF= "https://www.tallerescga.com/mapa-de-talleres/1168:chapa-la-milagrosa">Chapalamilagrosa</A></p>
        <hr />
        <div class="container">
        <h1 class="jumbotron-heading text-light"><u>Contacto con Cardate S.L.</u></h1>
    <section class="jumbotron text-center">
    <div class="container"> 
        <p class="lead">Cardate S.L. es la empresa desarrolladora de esta herramienta web,<br>
                por lo que si desea ponerse en contacto con ella en caso de algún problema<br>
                dispone de un teléfono de atención al cliente.</p>
                <p class="lead">Teléfono de contacto: 9559452001</p>

  </section>

</main>
{% endblock %}