{% extends 'base/base.html' %}
{% block title %}Crear valoración{% endblock %}

{% block content %}
<main role="main">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <div class="container mt-3">

        <h3>Añadir valoración</h3>


        {% if errores %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in errores %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <form action="/valoraciones/crear" method='post'>
            <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group">
                <label for="rating" class="col-form-label">Matricula:</label>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="">Mensaje:</label>
                <textarea name="descripcion_motivo" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>


            <button type="submit" class="btn btn-primary">Añadir valoración</button>
        </form>
    </div>
</main>
{% endblock content %}