<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cardate</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.2/examples/album/album.css">

</head>

<body>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo vehiculo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Matricula:</label>
                            <input type="text" class="form-control" placeholder="3123ASD" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Marca:</label>
                            <select name="users" class="form-control" onchange="showUser(this.value)">
                                <option>Elige una marca:</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Modelo:</label>
                            <select name="users" class="form-control" onchange="showUser(this.value)">
                                <option>Elige una modelo:</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Version:</label>
                            <select name="users" class="form-control" onchange="showUser(this.value)">
                                <option>Elige una version:</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'header.html' %}
    <div class="container mt-3">

        <h3>Crear cita cliente</h3>


        {% if errores %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in errores %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <form action="/citas/crear" method='post'>
            <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group">
                <label class="col-form-label" for="">Vehiculo <a href="#" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo">+
                        Nuevo</a> <a href="/vehiculos/crear">Crear vehiculo</a></label>

                <select name="id_vehiculo" class="form-control" id="">
                    <option>Seleccionar vehiculo</option>
                    {% for vehiculo in vehiculos %}
                    <option value="{{ vehiculo.id }}">{{ vehiculo.matricula }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="">Motivo</label>
                <select name="motivo" class="form-control" id="">
                    <option value="reparacion">Reparacion</option>
                    <option value="cambio pieza">Cambio pieza</option>
                    <option value="capa pintura">Capa Pintura</option>
                    <option value="revision">Revision</option>
                </select>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="">Descripcion motivo</label>
                <textarea name="descripcion_motivo" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="">Hora Inicio</label>
                        <input type="datetime-local" name="hora_inicio" class="form-control" step="1">
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="">Hora Fin</label>
                        <input type="datetime-local" name="hora_fin" class="form-control" step="1">
                    </div>

                </div>
            </div>



            <hr>
            <button type="submit" class="btn btn-primary">Crear cita</button>
        </form>
    </div>