{% extends 'base/base.html' %}

{% block title %}Cita #{{cita.id}}{% endblock %}

{% block content %}
<main role="main">

    <section class="text-center mt-5">
        <div class="container">
            <h1 class="jumbotron-heading">Cita #{{ cita.id }}</h1>
            <h3>Descripcion motivo</h3>
            <code>
                <p>{{ cita.descripcion_motivo }}</p>
            </code>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha creacion</th>
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Fin</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Vehiculo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ cita.fecha_creacion }}</td>
                        <td>{{ cita.hora_inicio }}</td>
                        <td>{{ cita.hora_fin }}</td>
                        <td>{{ cita.motivo }}</td>
                        <td><a href="vehiculos.php/?id={{ cita.id_vehiculo }}"> Ver información</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="presupuesto text-center">
        <div class="container">

            <h3 class="mb-4">Presupuesto</h3>
            {% if presupuesto %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Cantidad</th>
                        <th>Mano de obra (horas)</th>
                        <th>Precio unitario</th>
                        <th>Coste personal</th>
                        <th>Coste piezas</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody id="body-conceptos">
                    {% for concepto in conceptos %}
                    <tr>
                        <td>{{ concepto.titulo }}</td>
                        <td>{{ concepto.cantidad }}</td>
                        <td>{{ concepto.mano_de_obra }}</td>
                        <td>{{ concepto.precio_unitario }} €</td>
                        <td>{{ concepto.coste_personal }} €</td>
                        <td>{{ concepto.coste_piezas }} €</td>
                        <td>{{ concepto.precio }} €</td>
                    </tr>
                    {% endfor %}

                </tbody>

                <tfoot>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="coste-personal-final">{{ presupuesto.coste_personal }} €</td>
                        <td id="coste-piezas-final">{{ presupuesto.coste_piezas }} €</td>
                        <td id="subtotal-final">{{ presupuesto.precio }} €</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>IVA</td>
                        <td id="iva-final">{{ presupuesto.impuestos }} €</td>
                    </tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Precio final</strong></td>
                        <td id="precio-final"><strong>{{ presupuesto.precio_final }} €</strong></td>
                    </tr>
                </tfoot>
            </table>
            {% else %}
            <p>No se ha recibido ningun presupuesto</p>
            {% endif %}
            {% if presupuesto %}
            <a href="#" class="btn btn-primary">Aceptar presupuesto y pagar</a>
            {% endif %}
            <a href="#" class="btn btn-danger">Cancelar</a>
        </div>
    </section>


</main>
{% endblock content %}