{% extends 'base/base.html' %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center" style="
  /* fallback */
  /* W3C */
 background: linear-gradient(to right, rgba(255, 255, 255, 0.52) 20%,                rgb(125, 189, 183)), url(http://1.bp.blogspot.com/-BiPnMV3jF2o/UE9F70zYjbI/AAAAAAAABb4/XDx-pcoFd9s/s1600/seatarosa.jpg);
 background-size: cover;
 background-position: 50% 50%;
">
    <div class="container">
      <h1 class="jumbotron-heading text-light">Pide cita online</h1>
      <p class="lead"><b>Gracias a cardate pedir cita online es más fácil,<br> te responderemos de inmediato</b>
        <p>
          <div class="row">
            <div class="col-md-4">
              <select name="users" class="form-control " onchange="showUser(this.value)">
                <option>Elige una marca:</option>
                {% for marca in marcas %}
                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <select name="users" class="form-control" onchange="showUser(this.value)">
                <option>Elige un modelo:</option>
                {% for modelo in modelos %}
                <option value="{{ modelo }}">{{ modelo }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <select name="users" class="form-control" onchange="showUser(this.value)">
                <option>Elige una version:</option>
                {% for version in versiones %}
                <option value="{{ version }}">{{ version }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <a href="/citas/crear" class="btn btn-primary my-2">Crear cita</a>
    </div>
  </section>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Talleres paco</h1>
      <p class="lead"><b>¡Ven y arregla tu seat arosa!</b>
        <p>
  </section>

</main>
{% endblock %}