{% extends 'base/base.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<main role="main">
  <div class="container mt-3">

    <h3>Inicio sesion cliente</h3>


    {% if errores %}
    <div class="alert alert-danger" role="alert">
      <ul>
        {% for error in errores %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <form action="/accounts/login" method='post'>

      <input type="hidden" name="token" value="{{ token }}">

      <label for="">Email</label>
      <input type="email" name="email" class="form-control">
      <label for="">Contraseña</label>
      <input type="password" name="password" class="form-control">

      <hr>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
  </div>
</main>
{% endblock content %}