{% extends 'base/base.html' %}

{% block title %}Crear cuenta{% endblock %}

{% block content %}
<main role="main">
  <div class="container mt-3">

    <h3>Registro cliente</h3>


    <form action="/accounts/register" method='post'>
      <input type="hidden" name="token" value="{{ token }}">
      <div class="row">
        <div class="form-group col-md-6">
          <label class="col-form-label" for="nombre">Nombre</label>
          <input type="text" class="form-control {% if errores.nombre %}is-invalid{% endif %}" name="nombre" id="nombre"
            value="{{form.nombre}}" placeholder="Nombre" required>
          {% if errores.nombre %}
          <div class="invalid-feedback">
            {{ errores.nombre }}
          </div>
          {% endif %}
        </div>

        <div class="form-group col-md-6">
          <label class="col-form-label" for="apellidos">Apellidos</label>
          <input type="text" class="form-control {% if errores.apellidos %}is-invalid{% endif %}" name="apellidos" id="apellidos"
            value="{{form.apellidos}}" placeholder="Apellidos" required>
          {% if errores.apellidos %}
          <div class="invalid-feedback">
            {{ errores.apellidos }}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label" for="dni">Dni</label>
        <input type="text" class="form-control {% if errores.dni %}is-invalid{% endif %}" name="dni" id="dni" value="{{form.dni}}"
          placeholder="Dni" required>
        {% if errores.dni %}
        <div class="invalid-feedback">
          {{ errores.dni }}
        </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label class="col-form-label" for="telefono">Telefono</label>
        <input type="text" class="form-control {% if errores.telefono %}is-invalid{% endif %}" name="telefono" id="telefono"
          value="{{form.telefono}}" placeholder="Telefono">
        {% if errores.telefono %}
        <div class="invalid-feedback">
          {{ errores.telefono }}
        </div>
        {% endif %}
      </div>

      <div class="form-group">
        <label class="col-form-label" for="email">Email</label>
        <input type="email" class="form-control {% if errores.email %}is-invalid{% endif %}" name="email" id="email"
          value="{{ form.email }}" placeholder="Email" required>
        {% if errores.email %}
        <div class="invalid-feedback">
          {{ errores.email }}
        </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label class="col-form-label" for="contra1">Contraseña</label>
          <input type="password" class="form-control {% if errores.contra1 %}is-invalid{% endif %}" name="contra1" id="contra1"
            placeholder="Contraseña" required>
          {% if errores.contra1 %}
          <div class="invalid-feedback">
            {{ errores.contra1 }}
          </div>
          {% endif %}
        </div>

        <div class="form-group col-md-6">
          <label class="col-form-label" for="nombre">Repetir Contraseña</label>
          <input type="password" class="form-control {% if errores.contra2 %}is-invalid{% endif %}" name="contra2" id="contra2"
            placeholder="Repetir contraseña" required>
          {% if errores.contra2 %}
          <div class="invalid-feedback">
            {{ errores.contra2 }}
          </div>
          {% endif %}
        </div>
      </div>

      <hr>
      <button type="submit" class="btn btn-primary">Crear cuenta</button>
    </form>
  </div>
{% endblock content %}

{% block javascript %}
{{ block.parent }}

<script src="/assets/validacion_usuario.js"></script>
<script>

</script>
{% endblock %}