{% extends 'administracion/base/base.html' %}



{% block content %}



        <div class="container mt-4">
            <h1 class="jumbotron-heading">Citas</h1>

            <p class="lead text-muted">Listado de citas para revision/pintura/averia<p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Hora Inicio</th>
                                <th scope="col">Hora Fin</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Motivo</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cita in citas %}
                            <tr>
                                <th scope="row">1</th>
                                <td><a href="/admin/clientes/{{ cita.usuario.id }}">{{ cita.usuario.apellidos }}, {{ cita.usuario.nombre}}</a></td>
                                <td>{{ cita.hora_inicio }}</td>
                                <td>{{ cita.hora_fin }}</td>
                                <td>{{ cita.fecha_creacion }}</td>
                                <td>{{ cita.motivo }}</td>
                                <td><a href="/admin/presupuestos/crear/{{ cita.id }}"> Presupuestar</a></td>
                                <td><a href="/citas/{{ cita.id }}"> Detalles</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
 


{% endblock content %}