{% extends 'base/base.html' %}

{% block title %}Todas las citas{% endblock %}

{% block content %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Ver todas las citas</h1>

            <p class="lead text-muted">Gracias a cardate pedir cita online es más facil.<p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Email</th>
                                <th scope="col">Hora Inicio</th>
                                <th scope="col">Hora Fin</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Vehiculo</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cita in citas %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ usuario.nombre }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ cita.hora_inicio }}</td>
                                <td>{{ cita.hora_fin }}</td>
                                <td>{{ cita.fecha_creacion }}</td>
                                <td>{{ cita.motivo }}</td>
                                <td><a href="vehiculos.php/?id={{ cita.id_vehiculo }}"> Ver información</a></td>
                                <td><a href="/citas/{{ cita.id }}"> Detalles</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
    </section>


</main>
{% endblock content %}