{% extends 'administracion/base/base.html' %}



{% block content %}



        <div class="container mt-4">
            <h1 class="jumbotron-heading">Clientes</h1>

            <p class="lead text-muted">A continuación se muestran los clientes registrados</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Apellidos, Nombre</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in clientes %}
                            <tr>
                                <th scope="row">1</th>
                                <td><a href="/admin/clientes/{{ cliente.id }}">{{ cliente.apellidos }}, {{ cliente.nombre }}</a></td>
                                <td>{{ cliente.email }}</td>
                                <td><a href="/admin/presupuestos/crear/{{ cita.id }}"> Presupuestar</a></td>
                                <td><a href="/citas/{{ cita.id }}"> Detalles</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
 


{% endblock content %}