<body>
    <div class="top">
      <div class="budget">
            <form action="administracion\index.html" method="post">
                <div>
                    <label for="id12">El presupuesto estimado tras la revisión será:</label>
                    <input type="Insertar el presupuesto estimado">
                </div>
                <div>
                    <label for="id12">El tiempo estimado tras la revisión será:</label>
                    <input type="Insertar el tiempo estimado">
                    <select name="Insertar magnitud de tiempo">
                        <option value="1">Minutos</option> 
                        <option value="2">Horas</option> 
                        <option value="3">Dias</option> 
                    </select>
                <div>
                    <button type="submit">Aceptar</button> 
                    <a href="citas.html">Cancelar</a>        
                </div>
                </div>   
            </form> 
        </div>
    </div>
 </body>