{% extends 'administracion/base/base.html' %}

{% block title %}Crear presupuesto{% endblock %}

{% block content %}
<main role="main">



    <div class="container my-4">

        <div class="alert alert-info">
            <strong>Atención: </strong> Añada los precios sin iva, se calculará automáticamente.
        </div>

        <h1>Crear presupuesto <code>NO FUNCIONAL (funciona solo calculo en cliente)</code></h1>

        <p><strong>Cita: </strong> {{ cita.id }}</p>
        <p><strong>Motivo: </strong>{{ cita.motivo }}</p>
        <p><strong>Descripcion: </strong> {{ cita.motivo_descripcion }}</p>
        <p><strong>Cliente: </strong> <a href="/admin/clientes/{{ cita.usuario.id }}"
                target="_blank">{{ cita.usuario.nombre }}
                {{ cita.usuario.apellidos }}</a></p>

        <hr>

        <form action="/admin/presupuestos/crear/1" method="POST">
            <input type="hidden" name="token" value="{{ token }}">

            <h3>Opciones básicas</h3>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Precio mano de obra: </label>
                        <input type="text" class="form-control" value="41.322" name="precioMano"
                            id="presupuesto-precio-mano">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">IVA: </label>
                        <input type="text" class="form-control" value="21" name="iva" id="presupuesto-iva">
                    </div>
                </div>
            </div>

            <hr>

            <h3>Añadir piezas/recambios necesarios</h3>

            <div class="form-group">
                <label for="">Pieza:</label>
                <select name="" id="pieza" class="form-control">
                    {% for pieza in piezasVehiculo %}
                    <option value="{{ pieza.id }}">{{ pieza.descripcion }} - Codigo: {{ pieza.codigo }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Mano de obra (horas):</label>
                        <input type="number" class="form-control" id="mano-obra-pieza" value="0">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Cantidad:</label>
                        <input type="number" class="form-control" id="cantidad-pieza" value="1">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Precio unitario: <a href="#">Buscar proveedores</a></label>
                        <input type="number" class="form-control" id="precio-pieza" value="0">
                    </div>
                </div>

            </div>



            <button class="btn btn-primary" type="button" id="add-pieza">Añadir</button>

            <hr>


            <h3>Conceptos Extras</h3>
            <p class="text-muted">Las piezas serán automáticamente añadidas a conceptos. Añade conceptos extra como
                gastos
                de gestión, etc.</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Cantidad</th>
                        <th>Mano de obra (horas)</th>
                        <th>Precio unitario</th>
                        <th>Coste personal</th>
                        <th>Coste piezas</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody id="body-conceptos">
                    <tr>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" disabled class="form-control"></td>
                        <td><input type="text" disabled class="form-control"></td>
                        <td><input type="text" disabled class="form-control"></td>
                    </tr>

                </tbody>

                <tfoot>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="coste-personal-final">0.00 €</td>
                        <td id="coste-piezas-final">0.00 €</td>
                        <td id="subtotal-final">0.00 €</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>IVA</td>
                        <td id="iva-final"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Precio final</td>
                        <td id="precio-final"></td>
                    </tr>
                </tfoot>
            </table>

            <button class="btn btn-primary container-fluid" type="submit">Enviar presupuesto</button>

        </form>

    </div>
    </div>


</main>

{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
    var piezas = {
        {% for pieza in piezasVehiculo %}
        {{ pieza.id }}: {
            nombre: "{{ pieza.descripcion }}",
            marca: "{{ pieza.marca }}",
            codigo: "{{ pieza.codigo}}"
        },
        {% endfor %}
    };

    var conceptos = $("#body-conceptos");

    var costePiezasSum = 0.0;
    var costePersonalSum = 0.0;
    var subTotalSum = 0.0;
    var iva = 0.0;
    var precioFinal = 0.0;

    $("#add-pieza").on("click", function () {

        var idPieza = $("#pieza").val();
        var cantidadPieza = $("#cantidad-pieza").val();
        var precioPieza = $("#precio-pieza").val();
        var manoObraPieza = $("#mano-obra-pieza").val();

        var presupuestoPrecioMano = $("#presupuesto-precio-mano").val();


        var conceptoTitulo = piezas[idPieza].nombre;
        var conceptoCostePiezas = parseFloat(precioPieza) * parseInt(cantidadPieza);
        var conceptoCostePersonal = parseInt(manoObraPieza) * parseFloat(presupuestoPrecioMano);
        var conceptoSubTotal = conceptoCostePersonal + conceptoCostePiezas;


        conceptos.append("<tr id='concepto-pieza-" + idPieza + "'>" +
            "<input type='hidden' name='conceptoPiezas[]' size='30' value='" + idPieza + "'>" +
            "<td><input type='text' class='form-control' name='conceptoTitulo[]' size='30' value='" + 
                piezas[idPieza].nombre +
            "'></td>" +
            "<td><input type='text' class='form-control' name='conceptoCantidadPieza[]' size='30' value='" +
            cantidadPieza + "'></td>" +
            "<td><input type='text' class='form-control' name='conceptoManoObra[]' size='30' value='" +
            manoObraPieza + "'></td>" +
            "<td><input type='text' class='form-control' name='conceptoPrecioPieza[]' size='30' value='" +
            precioPieza + "'></td>" +
            "<td><input type='text' class='form-control' value='" + conceptoCostePersonal +
            "'></td>" +
            "<td><input type='text' class='form-control' value='" + conceptoCostePiezas +
            "'></td>" +
            "<td><input type='text' class='form-control' value='" + conceptoSubTotal + "'></td>" +
            "</tr>"
        );

        costePiezasSum = costePiezasSum + conceptoCostePersonal;
        costePersonalSum = costePersonalSum + conceptoCostePiezas;
        subTotalSum = subTotalSum + conceptoSubTotal;

        iva = subTotalSum * parseFloat($("#presupuesto-iva").val()) / 100;
        precioFinal = subTotalSum + iva;

        $("#coste-personal-final").html(costePiezasSum + " €");
        $("#coste-piezas-final").html(costePersonalSum + " €");
        $("#subtotal-final").html(subTotalSum + " €");
        $("#iva-final").html(iva + " €");
        $("#precio-final").html(precioFinal + " €");


    });
</script>
{% endblock %}